[Unit]
Description=piSolar Monitoring Service
Documentation=https://github.com/tim-oe/piSolar
After=multi-user.target
Requires=network.target
Conflicts=getty@tty1.service

[Service]
Type=simple

#env settings
Environment=PISOLAR_LOG_FILE=/var/log/piSolar.log

# Working directory
WorkingDirectory=/opt/piSolar

# Start command
ExecStart=/opt/piSolar/.venv/bin/pisolar -c /etc/piSolar/config.yaml -l /etc/piSolar/logging.yaml run
# Restart policy
Restart=on-failure
RestartSec=10

# Logging
StandardOutput=file:/var/log/pisolar_out.log
StandardError=file:/var/log/pisolar_err.log
SyslogIdentifier=pisolar

[Install]
WantedBy=multi-user.target
