# Renogy BT-2 configuration template
# Variables: $mac_address, $device_alias, $device_id, $adapter

[device]
adapter = $adapter
mac_addr = $mac_address
alias = $device_alias
type = RNG_CTRL
device_id = $device_id

[data]
enable_polling = false
poll_interval = 60
temperature_unit = C
fields =

[remote_logging]
enabled = false

[mqtt]
enabled = false

[pvoutput]
enabled = false
